@font-face {
    font-family: "Sniglet";
    src: url("fonts/Sniglet-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Sniglet";
    src: url("fonts/Sniglet-ExtraBold.ttf");
    font-weight: 800;
}


html, body {
    background: #333142;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: "Sniglet", sans-serif;
}

.yes {
    color: #6f6;
}
.no {
    color: #f66;
}

.bold {
    font-weight: 800; 
}
.italic {
    font-style: italic;
}